[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
jupyterlab = "*"
ipykernel = "*"
django_extensions = "*"
mypy = "*"
flake8 = "*"
isort = "*"
black = "==19.3b0"
pylint = "*"
pytest-django = "*"
pytest-asyncio = "*"

[packages]
ipykernel = "*"
psycopg2-binary = "*"
daphne = "*"
cryptography = "*"
xmltodict = "*" 
django = "*"
redis = "*"
channels = "*"
channels_redis = "*"
diskcache = "*"
aiohttp = "*"
jsonpath-rw = "*"
jsonpath-ng = "*"
jsonpath-rw-ext = "*"
bs4 = "*"

[requires]
python_version = "3.7"
